<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <%- include('nav') %>
  <h1>Sign Up</h1>
  
  <form  style="display: flex; " action="/create-usuario" method="POST">
    
    <label for="first_name">First Name</label>
    <input id="first_name" name="first_name" placeholder="First Name" type="text" required />

    
    <label for="last_name">Last Name</label>
    <input id="last_name" name="last_name" placeholder="Last Name" type="text" required />

    
    <label for="username">Email</label>
    <input id="username" name="username" placeholder="Email" type="email" required />

    
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required />

    
    <label for="membership_status">Membership Status</label>
    

    
    <label for="admin">Admin</label>
    <input id="admin" name="admin" type="checkbox" />

    
    <button type="submit">Sign Up</button>
  </form>
</body>
</html>